@font-face{
    font-family:"uber move";
    font-style:normal;
    font-weight:500;
    src:local('Uber Move'),url(https://fonts.cdnfonts.com/s/39553/UberMoveMedium.woff) format('woff')
}

@font-face{
font-family:"uber move";
font-style:normal;
font-weight:700;
src:local('Uber Move'),url(https://fonts.cdnfonts.com/s/39553/UberMoveBold.woff) format('woff')
}

@font-face{font-family:"uber move text";font-style:normal;font-weight:400;src:local('Uber Move Text'),url(https://fonts.cdnfonts.com/s/39554/UberMoveTextRegular.woff) format('woff')}
@font-face{font-family:"uber move text";font-style:normal;font-weight:300;src:local('Uber Move Text'),url(https://fonts.cdnfonts.com/s/39554/UberMoveTextLight.woff) format('woff')}
@font-face{font-family:"uber move text";font-style:normal;font-weight:500;src:local('Uber Move Text'),url(https://fonts.cdnfonts.com/s/39554/UberMoveTextMedium.woff) format('woff')}
@font-face{font-family:"uber move text";font-style:normal;font-weight:700;src:local('Uber Move Text'),url(https://fonts.cdnfonts.com/s/39554/UberMoveTextBold.woff) format('woff')}

html {
  font-family: "uber move text", sans-serif !important;
}

div {
  font-family: "uber move text", sans-serif !important;
}

span {
  font-family: "uber move text", sans-serif !important;
}

button {
  font-family: "uber move text", sans-serif !important;
}

.czmYts.RcIconButton-contained {
  background-color: #84cc16 !important;
}

.kICbCV .RcTabs-indicator {
  background-color: #84cc16 !important;
}

.dEilCj.RcTab-selected {
  color: black !important;
}

.jFxsjK.RcListItem-selected, .jFxsjK.RcListItem-selected:hover {
  background-color: #e5e7eb !important;
}

.iWFAzj {
  color: black !important;
}

.fSrqyK .RcListItemText-primary {
  color: black !important;
}
